CogScience/
images/
Natureimages/
CogImages/
ACLImages/
ACLTest/
NeurIPSimages
PDFNatureAntibiotics/
drawing-000-00.png
drawing-001-00.png
drawing-003-00.png
drawing-003-04.png
drawing-003-05.png
drawing-003-06.png
drawing-006-00.png
get-drawing.py
get-drawingnotext.py
img_github.py
1.pdf
2.pdf
3.pdf
4.pdf
5.pdf
6.pdf
7.pdf
8.pdf
filedeletion.py
imgtest.py
jsonreader.py
jsontest.py
imganddrawing.py
path2png.py
